<div>
  <% if @positions.count == 0 %>
      <%if I18n.to_s == "no"%>
        ISFiT har for øyeblikket ikke opptak. 
      <%else%>
        ISFiT does not have any open positions at the moment.
      <%end%>
    <% else %>
      <h1 class="page-header"><%= t("position.motivational") %></h1>

      <div class="pull-right" style="margin-left: 1em;">
        <%# link_to t("position.form"), new_applicant_user_path, class: "btn btn-primary btn-large"%>
      </div>
      <% if I18n.locale.to_s.eql?('no') %>
      <% else %>
        <div class="lead"><p>
          <strong>Sorry, ISFiT does not have any positions for english speaking students at the moment.</strong>
        </p></div>
        <div class="lead"><p>
        </p></div>
      <% end %>

    <% active_group = nil %>
    <% active_section = nil %>
    <% communication_rendered = false %>
    <% for position in @positions %>
      <% binding.pry if position.group.nil? %>
      <% if not position.group == active_group %>
        <% if not active_group.nil? %>
        </ul>
        </ul>
      <% end %>
      <% if position.group.section.eql?(@communication) %>
        <%= render 'communication' if !communication_rendered %>
        <% communication_rendered = true %>
        <% next %>
      <% end %>
      <% if position.group and position.group.section and not position.group.section == active_section %>
        <%if not active_section.nil?%>
          </ul>
        <% end %>
        <h2 class="section_name"> <%= position.group.section.name %> </h2> <a class="show_more pull-right" id="<%= position.group.section.id %>"> <%= t("position.section_desc") %></a>
        <div class="panel panel-default">
        <div class="section_info panel-body description-text" id="<%= position.group.section.id %>">
          <p><%= raw(position.group.section.description) %></p>
        </div>
        </div>

      <% end %>
      <ul class="list-unstyled">
      <li><h4><%=link_to position.group.name, positions_group_path(position.group.id) %></h4></li>
      <ul>
      <% end %>
        <li>
          <p><%= "#{position.title}" %></p>
        </li>
      <% active_group = position.groups.first %> 
      <% active_section = position.groups.first.section %>
    <%end%>
  </ul>
  </ul>
  <% end %>
</div>
