<div class="well">
	<div class="pull-right">
		<%= link_to "Søk på denne stillingen", { controller: :positions, action: :apply, referral_position: @position.id }, class: "btn btn-primary" %>
	<% if @position.group.section_id.eql?(22) %>
		<%= link_to t('position.back_button_sections'), section_path(@position.group.section_id), :class => "btn btn-info" if !@position.group.section_id.nil? %>
	<% else %>
		<%= link_to t('position.back_button_groups'), positions_group_path(@position.group), :class => "btn btn-info" if !@position.group.nil? %>
	<% end %>
	</div>

  <h2 class="position-name"><%= @position.title %></h2>
  <div class="description-text"><%=raw format(@position.description) %></div>
</div>
