<div class="well">
	<div class="pull-right">

		<% if current_user.nil? || current_user.application_any? %>
			<%= link_to "Søk på denne stillingen", { controller: :positions, action: :apply, referral_position: @position.id }, class: "btn btn-primary" %>
		<% end %>
		<% if @position.group.section_id.eql?(22) %>
			<%= link_to t('position.back_button_sections'), section_path(@position.group.section_id), :class => "btn btn-info" if !@position.group.section_id.nil? %>
		<% else %>
			<%= link_to t('position.back_button_groups'), positions_group_path(@position.group), :class => "btn btn-info" if !@position.group.nil? %>
		<% end %>
	</div>

  <h2 class="position-name"><%= @position.title %></h2>
  <div class="row">
    <div class="col-lg-8 col-sm-8 description-text"><%=raw format(@position.description) %></div>
  </div>
</div>
