<% if @applicant.locked %>
<p><%= t("application.locked_application")%></p>
<% else %>
<p><%= t("application.change_application")%></p>
<h3><%= t("application.lock")%></h3>
<p><%= t("application.lock_desc")%></p>
<p><%= t("application.lock_please")%></p>
<% end %>
<h3><%= t("position.your_application")%></h3>
<b><%= t("application.name")%></b>
<p><%= @applicant.full_name %></p>
<b><%= t("application.birthyear")%></b>
<p><%= @applicant.birthyear %></p>
<b><%= t("application.university")%></b>
<p><%= @applicant.place_of_study %></p>
<b><%= t("application.email_ntnu")%></b>
<p><%= @applicant.mail %></p>
<b><%= t("application.phone")%></b>
<p><%= @applicant.phone %></p>

<h3><%= t("position.positions")%></h3>
<b><%= t("application.first")%></b>
<p><%= Position.find(@applicant.position_id_1).title %></p>

<% if @applicant.position_id_2 %>
<b><%= t("application.second")%></b>
<p><%= Position.find(@applicant.position_id_2).title %></p>
<% end %>

<% if @applicant.position_id_3 %>
<b><%= t("application.third")%></b>
<p><%= Position.find(@applicant.position_id_3).title %></p>
<% end %>

<b><%= t("position.about_you")%></b>
<p><%= simple_format @applicant.information %></p>
<b><%= t("position.background")%></b>
<p><%= simple_format @applicant.background %></p>
<b><%= t("simple_form.labels.applicant.heardof")%></b>
<p><%= simple_format @applicant.heardof %></p>
