<div class="well">
	<div class="pull-right"><%= link_to t("application.logout"), logout_path, class: "btn" %></div>
	<b>Brukernavn:</b> <%= @applicant_user.mail %>
	<% if @applicant && @applicant.locked %>
	<%= link_to t("application.read_application"), edit_position_path, class: "btn pull-right" if @applicant %>
	
	<% else %>
	<%= link_to t("application.lock_application"), lock_position_path, class: "btn pull-right", method: :post if @applicant %>

	<%= link_to t("application.edit_application"), edit_position_path, class: "btn pull-right" if @applicant %>
	<% end %>
	<%= link_to t("application.write_application"), apply_positions_path, class: "btn btn-primary pull-right" if @applicant.nil? %>

	<%= render 'info' if @applicant %>
</div>
