<div class="well">
	<div class="pull-right"><%= link_to "Logg ut", logout_path, class: "btn" %></div>
	<b>Brukernavn:</b> <%= @applicant_user.mail %>
	<% if @applicant.locked %>
	<%= link_to('Les søknad', edit_position_path(@applicant_user.applicant.id), class: "btn pull-right") if @applicant %>
	
	<% else %>
	<%= link_to('Lås søknad', lock_position_path(@applicant_user.applicant.id), class: "btn pull-right", method: :post)if @applicant %>

	<%= link_to('Rediger søknad', edit_position_path(@applicant_user.applicant.id), class: "btn pull-right") if @applicant %>
	<% end %>
	<%= link_to('Skriv søknad', apply_positions_path, class: "btn btn-primary pull-right") if @applicant.nil? %>

	<%= render 'info' if @applicant %>
</div>