<%= simple_form_for(@parliament,
  html: { class: 'form-horizontal' }) do |f| %>
  <%= link_to "http://www.isfit.org/tabs/be-a-part-of-isfit#96" do %>
  <div class="col-md-12">
    <div class="well well-lg">
      <h3>Vil du vite mer om ISFiT Parliament før du søker, finner du informasjon ved å trykke her</h2> 
    </div>
    </div>
  <% end %>
      <% if @parliament.errors.any? %>
        <div id="error_explanation">

          <h2><%= @parliament.errors.count %> feil gjør at søknaden ikke kan sendes:</h2>

          <ul>
            <% @parliament.errors.full_messages.each do |parliament| %>
                <li><%= parliament %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="col-md-12">
  <%= f.input :name, label: 'Navn', placeholder: 'Ola Nordmann' %>
  <%= f.input :email, placeholder: 'name@example.com' %>
  <%= f.input :what_study, label: 'Hva studerer du?' %>

  <%= f.label 'Hvorfor har du lyst til å delta på ISFiT Parliament?', class: 'label_hint_for_default_form'  %>
  <%= f.hint 'Skriv et avsnitt om hvorfor du interesserer deg for å bekjempe korrupsjon',  class: 'test'  %>
  <%= f.text_area :why_attend, class: 'hint_hint' %><br>

  <% submit_name = params['action'].eql?('index') ? 'Send søknad' : 'Oppdater søknad' %>
  <%= f.button :submit, submit_name, class: "my_button"  %>

  <br>

</div>
<% end %>
